* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0c0d29;
  color: #f1f1f1;
}

.logo {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
}

/* li:not(:last-of-type) {
  margin-right: 2rem;
} */

/* a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 3rem;
}

.sidedrawer {
  background: chocolate;
  position: fixed;
  top: 0;
  right: -100%;
  height: 50%;
  width: 250px;
  transition: 850ms;
}

.sidedrawer.active {
  right: 0;
  transition: 350ms;
}

.sidedrawer__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.sidedrawer__link {
  transition: all 350ms;
}

.sidedrawer__link:hover {
  color: white;
}

.toggle {
  cursor: pointer;
}
